/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@600&display=swap");

/* Variabili colori */
:root {
  --primary-color: #c6e0f9; /* blu polvere */
  --accent-color: #d0dacf;
  --text-dark: #172a3a;
  --card-bg: #4fa289; /* verde chiaro */
  --border-radius: 12px;
  --p-text: #ebe5e5;
  --title-text: #c0c0c0;
}

/* Global Styles */
body {
  /* background-color: #65615a; beige crema */
  background-image: url("./assets/sfond4.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--text-dark);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Titoli */
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  /* verde salvia */
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

/* Paragrafi */
p {
  font-size: 1.2rem;
  color: var(--p-text);
  margin-bottom: 2rem;
}

/* Navbar */
.navbar {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 0.8rem 1.5rem;
}

.navbar-brand img {
  height: 45px;
}

.nav-link {
  color: var(--text-dark) !important;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: var(--accent-color) !important;
}

/* Cards */
.card {
  background-color: var(--card-bg);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  margin: 1rem 0;
}

/*Form*/
#register {
  color: #172b3a;
}
/*Welcome page*/
#welcome {
  /* color: #0c151d; */
  color: #d0dacf;
}

/*Register e login*/
#container-register {
  width: 45%;
}
#container-register h2 {
  margin-bottom: 1rem;
  color: white;
}
#register-button:hover {
  background-color: #07bd85;
}
#register-button {
  background-color: #125e47;
}

/* Section spacing */
section {
  padding: 2rem 1rem;
}

/* Diet Card */
.diet-card {
  transition: transform 0.2s, box-shadow 0.2s;
}

.diet-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#generazione {
  background-color: #125e47;
}
#generazione:hover {
  background-color: #07bd85;
}

/* Footer */
.footer {
  background-color: var (--card-bg);
  color: #6c757d;
  font-size: 0.9rem;
  text-align: center;
  padding: 1rem 0;
}
