/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@600&display=swap");

/* Variabili colori */
:root {
  --primary-color: #c6e0f9; /* blu polvere */
  --accent-color: #d97b58; /* terracotta */
  --text-dark: #172a3a;
  --card-bg: #ffffffb3; /* sfondo card neutro */
  --border-radius: 12px;
}

/* Global Styles */
body {
  /* background-color: #65615a; beige crema */
  background-image: url("./assets/sfond4.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--text-dark);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Titoli */
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #8daa91; /* verde salvia */
  margin-bottom: 0.5rem;
}
#welcome {
  color: #0c151d;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

/* Paragrafi */
p {
  font-size: 1.2rem;
  color: var(--text-dark);
  margin-bottom: 2rem;
}

/* Navbar */
.navbar {
  background-color: var(--card-bg);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 0.8rem 1.5rem;
}

.navbar-brand img {
  height: 45px;
}

.nav-link {
  color: var(--text-dark) !important;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: var(--accent-color) !important;
}

/* Cards */
.card {
  background-color: var(--card-bg);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  margin: 1rem 0;
}

/* Buttons */
.btn-primary {
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: #8daa91;
}

.btn-accent {
  background-color: var(--accent-color);
  color: #fff;
  border-radius: var(--border-radius);
  padding: 0.6rem 1.2rem;
  border: none;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out;
}

.btn-accent:hover {
  background-color: #c76045;
}
/*Form*/
#register {
  color: #172b3a;
}
/*Register*/
#container-register {
  background-color: #edf7fd;
}

/* Section spacing */
section {
  padding: 2rem 1rem;
}

/* Diet Card */
.diet-card {
  transition: transform 0.2s, box-shadow 0.2s;
}

.diet-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer */
.footer {
  background-color: #f8f9fa;
  color: #6c757d;
  font-size: 0.9rem;
  text-align: center;
  padding: 1rem 0;
}
